In [70]:
import pandas as pd
import numpy as np

# URL to the raw data file (hosted online)
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"


columns = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary"
]
df = pd.read_csv(url, header=None, names=columns, skipinitialspace=True, na_values=" ?")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [47]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [48]:
#What is the average age of men?
df.loc[df["sex"]=="Male","age"].mean()

39.43354749885268

In [7]:
total_count= len(df)
total_count

32561

In [55]:
#What is the percentage of people who have a Bachelor's degree?
total_count= df.shape[0]
total_count
degree=df.loc[df["education"]=="Bachelors"]
count=degree.shape[0]
perc= (count/total_count)*100
perc

16.44605509658794

In [10]:
# What is the minimum number of hours a person works per week?
df["hours-per-week"].min()

2

In [11]:
df["education"].unique()

array(['Bachelors'], dtype=object)

In [56]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advance_education = df.loc[(df["education"]=="Masters") | (df["education"]=="Bachelors") | (df["education"]=="Doctorate")]
advance_education_count= advance_education.shape[0]
salary = advance_education.loc[advance_education["salary"] == ">50K"]
salary_count = salary.shape[0]
perc= (salary_count/ advance_education_count)*100
perc

46.535843011613935

In [57]:
#What percentage of people without advanced education make more than 50K?

    
not_advance_education = df.loc[(df["education"]!="Masters") & (df["education"]!="Bachelors") & (df["education"]!="Doctorate") ]
not_advance_education_count= not_advance_education.shape[0]
salary = not_advance_education.loc[not_advance_education["salary"]==">50K"]
salary_count= salary.shape[0]
perc= (salary_count/not_advance_education_count)*100
perc

17.3713601914639

In [58]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min=df["hours-per-week"].min()
workers = df.loc[df["hours-per-week"]==min]
workers_Count= workers.shape[0]
salary = workers.loc[workers["salary"]==">50K"]
salary_Count= salary.shape[0]
percentage = (salary_Count/workers_Count)*100
percentage

10.0

In [77]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
native_country = df["native-country"].value_counts()
high_earners_by_country = df[df["salary"] == ">50K"]["native-country"].value_counts()
percentage =(high_earners_by_country/native_country )*100
highest_Country = percentage.idxmax()
highest_Country

'Iran'

In [ ]:
_